.app-layout-header {

    .app-layout-wrapper {

        h1 {
            margin-bottom: 1em !important;
        }
    }
}

mat-card+mat-card {
    margin-top: 24px;
}

.submit-button-container {
    width: 100%;
    padding: 24px 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
}

.responses-list {
    max-height: 200px;
    overflow-y: scroll;
}

.choices-pie-chart-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
