<div class="app-layout-header">
    <div class="app-layout-wrapper">
        <h1>{{ form.nameForm }}</h1>
        <p>{{ form.description }}</p>
    </div>
</div>
<div class="app-layout-wrapper">
    <mat-card class="form-card" *ngFor="let question of form.questions; let i = index;">
        <mat-card-content>
            <form [formGroup]="responsesFormGroups[i]">
                <p>{{ question.content }}</p>
                <mat-form-field *ngIf="question.questionType === 'normal'">
                    <input matInput placeholder="Your response" type="text" id="content" formControlName="content" required>
                    <mat-error *ngIf="responsesFormGroups[i].get('content').hasError('required')">This field is required</mat-error>
                    <mat-error *ngIf="responsesFormGroups[i].get('content').hasError('blank')">Response content must have at least one none whitespace character</mat-error>
                </mat-form-field>
                <mat-list *ngIf="question.questionType === 'QCM'">
                    <mat-list-item *ngFor="let choice of question.choices">
                        <mat-checkbox color="primary" (change)="onChoiceSelectionChange(i, choice._id, $event)">{{ choice.choiceContent }}</mat-checkbox>
                    </mat-list-item>
                </mat-list>
            </form>
        </mat-card-content>
    </mat-card>
    <div class="submit-button-container">
        <button mat-raised-button color="primary" (click)="onSubmitResponses()">SUBMIT</button>
    </div>
</div>